body {
    overflow-x: hidden;
}

.btn,
button {
    background-color: #F98D67;
    color: white;
    border: none;
    border-radius: 0;
}

.btn:hover,
button:hover {
    color: black;
}

a:hover {
    text-decoration: none;
}

a {
    color: black;

}


.hero-section {
    background-image: url(static/hero-img.png) !important;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section-wrapper {
    margin-top: -280px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.contact-form-section a {
    text-decoration: underline;
    color: #F98D67;
    font-size: 15px;
}

.contact-form-section h1 {
    font-size: 40px;
}


.contact-form-section p,
.product-section p {
    font-size: 16px;
}

.contact-form-section .btn{
    background-color: white;
    border: 3px solid #F98D67;
    color: black;
}


.hero-section h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.hero-section p {
    font-size: 20px;
    margin-top: 20px;
    width: 50%;
    text-align: center;
}



.filter-form-section h1,
.product-section h1,
.about-section h1 {
    font-size: 50px;
}


.product-section .product-content-footer .btn {
    background-color: #F1F1F1;
    font-size: 12px;
    color: gray;
    box-shadow: none;
    border: none;
    border-radius: 100px;
}


.product-section .product-content h3 {
    font-size: 22px;
    height: 4em;
}

.product-section .product-content p {
    font-size: 14px;
    height: 2em;
}


.product-section .product-content-footer p {
    font: 12px;
    color: gray;

}

.filter-form-section p {
    font-size: 16px;
}


.product-details-section p {
    font-size: 16px;
}

.product-details-section h1 {
    font-size: 30px;
    line-height: 30px;
}


.contact-us-form-section h1 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 14px;
}


.contact-us-form-section fieldset {
    width: 50%;
    margin: auto;
}


.product-details-section h3 {
    font-size: 16px;
    color: gray;
    font-family: "Antic", sans-serif;
}

svg {
    margin-left: 6px;
}

footer p {
    color: white;
    text-align: right;
}

.product-section-mobile {
    display: none;
}


.product-section-desktop {
    display: flex;
}

.product-section-desktop .products {

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.667);
}

.product-wrapper {
    padding-bottom: 10px;
    padding-top: 30px;
}

.product-wrapper:hover {
    padding-top: 30px;
    transition-duration: 400ms;
    background-color: rgba(255, 255, 255, 0.7);

}


.square-image-wrapper {
    width: 100%; /* Ensure it takes full width of the parent container */
    position: relative; /* Needed for absolutely positioned children */
    overflow: hidden; /* Hide any overflowing content */
    padding-top: 100%; /* Sets the height equal to the width */
}

.square-image-wrapper img {
    position: absolute; /* Position the image absolutely */
    width: 100%; /* Ensure the image takes full width of its container */
    height: 100%; /* Ensure the image takes full height of its container */
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    top: 0; /* Align the top of the image */
    left: 0; /* Align the left of the image */
}


.product-content h3 {
    margin: 0;
    height: 4em;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-wrapper:hover .product-content h3 {
    background-color: #F98D67;
    transition-duration: 400ms;
    height: 4em;
}

.product-wrapper:hover .product-content-footer .btn {
    background-color: #F98D67;
    transition-duration: 400ms;
    color: white;
}

.navbar-toggler:not(.collapsed)::before,
.navbar-toggler.collapsed::after {
    color: white;
    /* Sets the icon color of both states (collapsed/expanded) */
}

.navbar-toggler {
    color: white;
    z-index: 1000;
}

.filter-form-section-wrapper {
    margin-top: -100px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.contact-form-section-wrapper {
    /*background-image: url(static/Background2.png);*/
    background-color: #F98D67;
    padding: 60px 40px;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-section-top {
    background-image: url(static/Background.png);

}

.product-section-wrapper {
    background-image: url(static/Background.png);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form-section-inner {
    background-color: rgba(255, 255, 255, 0.337);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    position: fixed;
    width: 100%;
    box-shadow: none !important;
    margin-bottom: -100px;
    background-color: #0000006f !important;
}

.product-details-section .filter-form-section-wrapper {
    width: 65%;
}

.about-section-wrapper p {
    font-size: 18px;
}

.spacer {
    height: 120px;
}

.product-section-desktop,
.product-section-wrapper {
    height: fit-content;
}

.offcanvas{
    width: 65% !important;
    background: #ffffffe0;
}

.nav-link-title{
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width: 600px) {

    h1,
    h2 {
        line-height: 60px;
    }

    h3,
    h4,
    h5,
    h6 {
        line-height: 20px;
    }

    .contact-us-form-section fieldset {
        width: 95%;
        margin: 0 !important;
    }
    .contact-us-form-section {
        width: 95%;
    }


    .product-section .products {
        gap: 10px;
    }

    footer {
        padding: 10px !important;
    }

    .hero-section p {
        width: 90%;
    }

    .filter-form-section form {
        gap: 10px;
    }

    .carousel-indicators [data-bs-target] {
        background-color: gray !important;
        margin-top: 30px;
        margin-bottom: -30px;
    }


    .carousel-indicators .active {
        background-color: #f98d67 !important;

    }

    .product-section-desktop {
        display: none;
    }

    .product-section-mobile {
        display: block;
    }


}

@media screen and (min-width: 767px) {

    .offcanvas.offcanvas-start {
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
    }

    .navbar-expand-md .offcanvas .offcanvas-body {
        justify-content: flex-end;

    }
}


@media screen and (max-width: 767px) {

    .navbar-nav .nav-item {
        align-items: flex-start;
    }

    .hamburger-icon {
        color: white !important;
        /* Sets the icon color to white */
    }

    .navbar .show ul li a {
        color: black !important;
        text-align: left !important;
    }


    header .container-xl {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 991px) {
    body>section.product-details-section.d-flex.flex-column.justify-content-center.align-items-center.mb-5>div>div>div.col-lg-6.left>p {
        display: none;
    }
}

body > section.contact-form-section.container-fluid > div > div > div > form > div.col-lg-12.row.mb-3.d-flex.align-items-center.mt-4{
    width: 97%;
    margin-left: 1px;
}